*{
    padding: 0;
    margin: 0;
}



body{
    height: 100vh;
    width: 100vw;
    background-color: cyan;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.ui{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
}

.ui>button{
    height: 50%;
}

.ui>input{
    height: 50%;
}

.display{
    display: grid;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 2vw;
    width: 100%;
    height: 80%;
}
.card{
    background-color: white;
}
