* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: cyan;
}

body.cold {
  background-color: darkcyan;
}

body.warm {
  background-color: darkred;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.ui {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
}

.ui.cold {
  background-color: white;
}

.ui.warm {
  background-color: grey;
}

.ui > button {
  height: 50%;
}

.ui > button.cold {
  height: 50%;
  background-color: aqua;
  color: black;
}

.ui > button.warm {
  height: 50%;
  background-color: red;
  color: black;
}

.ui > input {
  height: 50%;
}

.ui > input.cold {
  height: 50%;
  background-color: aqua;
  color: black;
}

.ui > input.warm {
  height: 50%;
  background-color: red;
  color: black;
}

.display {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80%;
}

.card.cold {
  background-color: white;
}

.card.warm {
  background-color: yellow;
}
